<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/youtube">YouTube Video Downloader</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/mp">MadhyaPradesh Data</a></li>
  <li><a href="/about">About</a></li>
</ul>
<h1>Thankyou For downloading!!!!!!</h1>
</body>
</html>